# Chapter 3. 파이 채우기: 리스트, 튜플, 딕셔너리, 셋
- [리스트와 튜플](#3.1)
- [리스트](#3.2)
    - [리스트 생성하기: []또는 list()](#3.2.1)
    - [다른 데이터 타입을 리스트로 변환하기: list()](#3.2.2)
    - [[offset]으로 항목 얻기](#3.2.3)
    - [리스트의 리스트](#3.2.4)
    - [[offset]으로 항목 바꾸기](#3.2.5)
    - [슬라이스로 항목 추출하기](#3.2.6)
    - [리스트의 끝에 항목 추가하기: append()](#3.2.7)
    - [리스트 병합하기: extend() 또는 +=](#3.2.8)
    - [오프셋과 insert()로 항목 추가하기](#3.2.9)
    - [오프셋으로 항목 삭제하기: del](#3.2.10)
    - [값으로 항목삭제하기: remove()](#3.2.11)
    - [오프셋으로 항목을 얻은 후 삭제하기: pop()](#3.2.12)
    - [값으로 항목 오프셋 찾기: index()](#3.2.13)
    - [존재여부 확인 하기: in](#3.2.14)
    - [값 세기: count()](#3.2.15)
    - [문자열로 변환하기: join()](#3.2.16)
    - [정렬하기: sort()](#3.2.17)
    - [항목 개수 얻기: len()](#3.2.18)
    - [할당: =, 복사: copy()](#3.2.19)
- [튜플](#3.3)
    - [튜플 생성하기: ()](#3.3.1)
    - [튜플과 리스트](#3.3.2)
- [딕셔너리](#3.4)
    - [딕셔너리 생성하기: []](#3.4.1)
    - [딕셔너리로 변환하기: dict()](#3.4.2)
    - [항목 추가/변경하기: [key]](#3.4.3)
    - [딕셔너리 결함하기: update()](#3.4.4)
    - [키와 del로 항목 삭제하기](#3.4.5)
    - [모든 항목 삭제하기: clear()](#3.4.6)
    - [in으로 키 멤버십 테스트하기](#3.4.7)
    - [항목 얻디: [key]](#3.4.8)
    - [모든 키 얻기: keys()](#3.4.9)
    - [모든 값 얻기: values()](#3.4.10)
    - [모든 쌍의 키-값 얻기: items()](#3.4.11)
    - [할당: =, 복사: copy()](#3.4.12)
- [셋](#3.5)
    - [셋 생성하기: set()](#3.5.1)
    - [데이터 타입 변환하기: set()](#3.5.2)
    - [in으로 값 멤버십 테스트하기](#3.5.3)
    - [콤비네이션과 연산자](#3.5.4)
- [자료구조 비교하기](#3.6)
- [자료구조를 더 크게](#3.7)

### 3.1 리스트와 튜플 <a id='3.1'></a>

### 3.2 리스트 <a id='3.2'></a>

### 3.2.1 리스트 생성하기: []또는 list() <a id='3.2.1'></a>

In [1]:
empty_list = []
weekdays = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']
big_birds = ['emu', 'ostrich', 'cassowary']
first_names = ['Graham', 'John', 'Terry', 'Terry', 'Michael']

In [2]:
another_empty_list = list()
another_empty_list

[]

### 3.2.2 다른 데이터 타입을 리스트로 변환하기: list() <a id='3.2.2'></a>

In [3]:
list('cat')

['c', 'a', 't']

In [4]:
a_tuple = ('ready', 'fire', 'aim')
list(a_tuple)

['ready', 'fire', 'aim']

In [5]:
birthday = '1/6/1952'
birthday.split('/')

['1', '6', '1952']

In [6]:
splitme = 'a/b//c/d///e'
splitme.split('/')

['a', 'b', '', 'c', 'd', '', '', 'e']

In [7]:
splitme = 'a/b//c/d///e'
splitme.split('//')

['a/b', 'c/d', '/e']

### 3.2.3 [offset]으로 항목 얻기 <a id='3.2,3'></a>

In [1]:
marxes = ['Groucho', 'Chico', 'Harpo']

In [2]:
marxes[0]

'Groucho'

In [3]:
marxes[1]

'Chico'

In [4]:
marxes[2]

'Harpo'

In [5]:
marxes[-1]

'Harpo'

In [6]:
marxes[-2]

'Chico'

In [7]:
marxes[-3]

'Groucho'

In [8]:
marxes[5]

IndexError: list index out of range

In [9]:
marxes[-5]

IndexError: list index out of range

### 3.2.4 리스트와 리스트 <a id='3.2.4'></a>

In [13]:
small_birds = ['hummingbird', 'finch']
extinct_birds = ['dodo', 'passenger', 'Norwegian Blue']
carol_birds = [3, 'French hens', 2, 'turtledoves']
all_birds = [small_birds, extinct_birds, 'macaw', carol_birds]
all_birds

[['hummingbird', 'finch'],
 ['dodo', 'passenger', 'Norwegian Blue'],
 'macaw',
 [3, 'French hens', 2, 'turtledoves']]

In [14]:
all_birds[0]

['hummingbird', 'finch']

In [15]:
all_birds[1]

['dodo', 'passenger', 'Norwegian Blue']

In [16]:
all_birds[1][0]

'dodo'

### 3.2.5 [offset]으로 항목 바꾸기 <a id='3.2.5'></a>

In [17]:
marxes = ['Groucho', 'Chico', 'Harpo']
marxes[2] = 'Wanda'
marxes

['Groucho', 'Chico', 'Wanda']

### 3.2.6 슬라이스로 항목 추출하기 <a id='3.2.6'></a>

In [24]:
marxes = ['Groucho', 'Chico', 'Harpo']
marxes[0:2]

['Groucho', 'Chico']

In [19]:
marxes[::2]

['Groucho', 'Harpo']

In [20]:
marxes[::-2]

['Harpo', 'Groucho']

In [21]:
marxes[::-1]

['Harpo', 'Chico', 'Groucho']

### 3.2.7 리스트의 끝에 항목 추가하기: append() <a id='3.2.7'></a>

In [25]:
marxes.append('Zeppo')
marxes

['Groucho', 'Chico', 'Harpo', 'Zeppo']

### 3.2.8 리스트 병합하기: extend() 또는 += <a id='3.2.8'></a>

In [26]:
marxes = ['Groucho', 'Chico', 'Harpo', 'Zeppo']
others = ['Gummo', 'Karl']
marxes.extend(others)
marxes

['Groucho', 'Chico', 'Harpo', 'Zeppo', 'Gummo', 'Karl']

In [27]:
marxes = ['Groucho', 'Chico', 'Harpo', 'Zeppo']
others = ['Gummo', 'Karl']
marxes += others
marxes

['Groucho', 'Chico', 'Harpo', 'Zeppo', 'Gummo', 'Karl']

In [28]:
marxes = ['Groucho', 'Chico', 'Harpo', 'Zeppo']
others = ['Gummo', 'Karl']
marxes.append(others)
marxes

['Groucho', 'Chico', 'Harpo', 'Zeppo', ['Gummo', 'Karl']]

### 3.2.9 오프셋과 insert()로 항목 추가하기 <a id='3.2.9'></a>

In [30]:
marxes = ['Groucho', 'Chico', 'Harpo', 'Zeppo']
marxes.insert(3, 'Gummo')
marxes

['Groucho', 'Chico', 'Harpo', 'Gummo', 'Zeppo']

In [31]:
marxes.insert(10, 'Karl')
marxes

['Groucho', 'Chico', 'Harpo', 'Gummo', 'Zeppo', 'Karl']

### 3.2.10 오프셋으로 항목 삭제하기: del <a id='3.2.10'></a>

In [32]:
marxes = ['Groucho', 'Chico', 'Harpo', 'Gummo', 'Zeppo', 'Karl']
del marxes[-1]
marxes

['Groucho', 'Chico', 'Harpo', 'Gummo', 'Zeppo']

In [33]:
marxes = ['Groucho', 'Chico', 'Harpo', 'Gummo', 'Zeppo']
marxes[2]

'Harpo'

In [34]:
del marxes[2]
marxes

['Groucho', 'Chico', 'Gummo', 'Zeppo']

In [35]:
marxes[2]

'Gummo'

### 3.2.11 값으로 항목 삭제하기: remove() <a id='3.2.11'></a>

In [36]:
marxes = ['Groucho', 'Chico', 'Harpo', 'Gummo', 'Zeppo']
marxes.remove('Gummo')
marxes

['Groucho', 'Chico', 'Harpo', 'Zeppo']

### 3.2.12 오프셋으로 항목을 얻은 후 삭제하기: pop() <a id='3.2.12'></a>

In [37]:
marxes = ['Groucho', 'Chico', 'Harpo', 'Zeppo']
marxes.pop()

'Zeppo'

In [38]:
marxes

['Groucho', 'Chico', 'Harpo']

In [39]:
marxes.pop(1)

'Chico'

In [40]:
marxes

['Groucho', 'Harpo']

### 3.2.13 값으로 항목 오프셋 찾기: index() <a id='3.2.13'></a>

In [41]:
marxes = ['Groucho', 'Chico', 'Harpo', 'Zeppo']
marxes.index("Chico")

1

### 3.2.14 존재여부 확인하기: in  <a id='3.2.14'></a>

In [42]:
marxes = ['Groucho', 'Chico', 'Harpo', 'Zeppo']
'Groucho' in marxes

True

In [43]:
'Bob' in marxes

False

In [44]:
words = ['a', 'deer', 'a' 'female', 'deer']
'deer' in words

True

### 3.2.15 값 세기: count() <a id='3.2.15'></a>

In [45]:
marxes = ['Groucho', 'Chico', 'Harpo']
marxes.count('Harpo')

1

In [46]:
marxes.count('Bob')

0

### 3.2.16 문자열로 변환하기: join() <a id='3.2.16'></a>

In [47]:
marxes = ['Groucho', 'Chico', 'Harpo']
', '.join(marxes)

'Groucho, Chico, Harpo'

In [48]:
friends = ['Harry', 'Hermione', 'Ron']
separator = ' * '
joined = separator.join(friends)
joined

'Harry * Hermione * Ron'

In [49]:
separated = joined.split(separator)
separated

['Harry', 'Hermione', 'Ron']

In [50]:
separated == friends

True

### 3.2.17 정렬하기: sort() <a id='3.2.17'></a>

In [51]:
marxes = ['Groucho', 'Chico', 'Harpo']
sorted_marxes = sorted(marxes)
sorted_marxes

['Chico', 'Groucho', 'Harpo']

In [52]:
marxes

['Groucho', 'Chico', 'Harpo']

In [53]:
marxes.sort()
marxes

['Chico', 'Groucho', 'Harpo']

In [55]:
numbers = [2, 1, 4.0, 3]
numbers.sort()
numbers

[1, 2, 3, 4.0]

In [56]:
numbers = [2, 1, 4.0, 3]
numbers.sort(reverse=True)
numbers

[4.0, 3, 2, 1]

### 3.2.18 항목 개수 얻기: len() <a id='3.2.18'></a>

In [57]:
marxes = ['Groucho', 'Chico', 'Harpo']
len(marxes)

3

### 3.2.19 할당: =, 복사: copy() <a id='3.2.19'></a>

In [58]:
a = [1, 2, 3]
a

[1, 2, 3]

In [59]:
b = a
b

[1, 2, 3]

In [60]:
a[0] = 'surprise'
a

['surprise', 2, 3]

In [61]:
b

['surprise', 2, 3]

In [62]:
b[0] = 'I hate surprises'

In [63]:
b

['I hate surprises', 2, 3]

In [64]:
a

['I hate surprises', 2, 3]

In [65]:
a = [1, 2, 3]
b = a.copy()
c = list(a)
d = a[:]

In [67]:
a[0] = 'integer lists are boring'
a

['integer lists are boring', 2, 3]

In [68]:
b

[1, 2, 3]

In [69]:
c

[1, 2, 3]

In [70]:
d

[1, 2, 3]

### 3.3 튜플 <a id='3.3'></a>

### 3.3.1 튜플 생성하기: () <a id='3.3.1'></a>

In [71]:
empty_tuple = ()
empty_tuple

()

In [73]:
one_marx = 'Groucho',
one_marx

('Groucho',)

In [74]:
marx_tuple = 'Groucho', 'Chico', 'Harpo'
marx_tuple

('Groucho', 'Chico', 'Harpo')

In [75]:
marx_tuple = ('Groucho', 'Chico', 'Harpo')
marx_tuple

('Groucho', 'Chico', 'Harpo')

In [76]:
marx_tuple = ('Groucho', 'Chico', 'Harpo')
a, b, c = marx_tuple

In [77]:
a

'Groucho'

In [78]:
b

'Chico'

In [79]:
c

'Harpo'

In [82]:
password = 'swordfish'
icecream = 'tuttifrutti'
password, icecream = icecream, password

In [83]:
password

'tuttifrutti'

In [84]:
icecream

'swordfish'

In [85]:
marx_list = ['Grouch', 'Chico', 'Harpo']
tuple(marx_list)

('Grouch', 'Chico', 'Harpo')

### 3.3.2 튜플과 리스트 <a id='3.3.2'></a>

### 3.4 딕셔너리 <a id='3.4'></a>

### 3.4.1 딕셔너리 생성하기: [] <a id='3.4.1'></a>

In [86]:
empty_dic = {}
empty_dic

{}

In [89]:
bierce = {
    "day": "A period of twenty-four hours, mostly misspent",
    "positive": "Mistaken at the top of one's voice",
    "misfortune": "The kind of fortune that never misses",
}
bierce

{'day': 'A period of twenty-four hours, mostly misspent',
 'misfortune': 'The kind of fortune that never misses',
 'positive': "Mistaken at the top of one's voice"}

### 3.4.2 딕셔너리로 변환하기: dict() <a id='3.4.2'></a>

In [90]:
lol = [['a', 'b'], ['c', 'd'], ['e', 'f']]
dict(lol)

{'a': 'b', 'c': 'd', 'e': 'f'}

In [92]:
lot = [('a', 'b'), ('c', 'd'), ('e', 'f')]
dict(lot)

{'a': 'b', 'c': 'd', 'e': 'f'}

In [93]:
tol = (['a', 'b'], ['c', 'd'], ['e', 'f'])
dict(tol)

{'a': 'b', 'c': 'd', 'e': 'f'}

In [95]:
los = ['ab', 'cd', 'ef']
dict(los)

{'a': 'b', 'c': 'd', 'e': 'f'}

In [96]:
tos = ('ab', 'cd', 'ef')
dict(tos)

{'a': 'b', 'c': 'd', 'e': 'f'}

### 3.4.3 항목 추가/변경하기: [key] <a id='3.4.3'></a>

In [97]:
pythons = {
    'Chapman': 'Graham',
    'Cleese': 'John',
    'Idle': 'Eric',
    'Jones': 'Terry',
    'Palin': 'Michael',
}
pythons

{'Chapman': 'Graham',
 'Cleese': 'John',
 'Idle': 'Eric',
 'Jones': 'Terry',
 'Palin': 'Michael'}

In [99]:
pythons['Gilliam'] = 'Gerry'
pythons

{'Chapman': 'Graham',
 'Cleese': 'John',
 'Gilliam': 'Gerry',
 'Idle': 'Eric',
 'Jones': 'Terry',
 'Palin': 'Michael'}

In [100]:
pythons['Gilliam'] = 'Terry'
pythons

{'Chapman': 'Graham',
 'Cleese': 'John',
 'Gilliam': 'Terry',
 'Idle': 'Eric',
 'Jones': 'Terry',
 'Palin': 'Michael'}

In [101]:
some_pythons = {
    'Graham': 'Chapman',
    'John': 'Cleese',
    'Eric': 'Idle',
    'Terry': 'Gilliam',
    'Michael': 'Palin',
    'Terry': 'Jones',
}
some_pythons

{'Eric': 'Idle',
 'Graham': 'Chapman',
 'John': 'Cleese',
 'Michael': 'Palin',
 'Terry': 'Jones'}

### 3.4.4 딕셔너리 결합하기: update() <a id='3.4.4'></a>

In [102]:
pythons = {
    'Champan': 'Graham',
    'Cleese': 'John',
    'Gilliam': 'Terry',
    'Idle': 'Eric',
    'Jones': 'Terry',
    'Palin': 'Michael',
}
pythons

{'Champan': 'Graham',
 'Cleese': 'John',
 'Gilliam': 'Terry',
 'Idle': 'Eric',
 'Jones': 'Terry',
 'Palin': 'Michael'}

In [103]:
others = { 'Marx': 'Grouch', 'Howard': 'Moe'}

In [104]:
pythons.update(others)
pythons

{'Champan': 'Graham',
 'Cleese': 'John',
 'Gilliam': 'Terry',
 'Howard': 'Moe',
 'Idle': 'Eric',
 'Jones': 'Terry',
 'Marx': 'Grouch',
 'Palin': 'Michael'}

In [106]:
first = {'a': 1, 'b': 2}
second = {'b': 'platypus'}
first.update(second)
first

{'a': 1, 'b': 'platypus'}

### 3.4.5 키와 del로 항목 삭제하기 <a id='3.4.5'></a>

### 3.4.6 모든 항목 삭제하기: clear() <a id='3.4.6'></a>

### 3.4.7 in으로 키 멤버십 테스트하기 <a id='3.4.7'></a>

### 3.4.8 항목 얻기: [key] <a id='3.4.8'></a>

### 3.4.9 모든 키 얻기: keys() <a id='3.4.9'></a>

### 3.4.10 모든 값 얻기: values() <a id='3.4.10'></a>

### 3.4.11 모든 쌍의 키-값 얻기: items() <a id='3.4.11'></a>

### 3.4.12 할당: =, 복사: copy() <a id='3.4.12'></a>

### 3.5 셋 <a id='3.5'></a>

### 3.5.1 셋 생성하기: set() <a id='3.5.1'></a>

### 3.5.2 데이터 타입 변환하기: set() <a id='3.5.2'></a>

### 3.5.3 in으로 값 멤버십 테스트하기 <a id='3.5.3'></a>

### 3.5.4 콤비네이션과 연산자 <a id='3.5.4'></a>

### 3.6 자료구조 비교하기 <a id='3.6'></a>

### 3.7 자료구조를 더 크게 <a id='3.7'></a>